#container{
    width: 1000px;
    height: 500px;
}

#wrap{
    display: flex;
    padding-right: 15px;
}

#controls{
    flex: 1;
    padding-right: 15px;
}

#controls label{
    display: block;
    padding-bottom: 15px;
}

#controls .inline{
    display: flex;
}

#controls .inline label{
    flex: 1;
}

#controls #angle, #controls #depth {
    width:3em;
    display: block;
}

#controls textarea{
    height: 4em;
}

#controls ul{
    list-style-type: none;
    color:blue;
}

#controls li {
    padding-bottom: 5px;
}

#controls li:hover {
    text-decoration: underline;
    cursor: pointer;
}

#container {
    flex: 10;
}

#container #log{
    overflow-wrap: break-word;
}