#container{
    width: 1000px;
    height: 500px;
    display: flex;
    flex-direction: column;
    flex: 10;
    position: relative;
    justify-content: space-evenly;
}

#wrap{
    display: flex;
    padding-right: 15px;
}

#controls{
    flex: 1;
    padding-right: 15px;
}

#controls label, #controls fieldset{
    display: block;
    margin-bottom: 10px;
}

#controls .inline{
    display: flex;
}

.divide {
    border-left: solid 1px black;
    height: 100%;
    margin: 0 15px;
}

#controls .inline label{
    flex: 1;
}

#controls .small {
    width:3em;
    display: block;
}

#controls textarea{
    height: 4em;
}

#controls ul{
    list-style-type: none;
    color:blue;
}

#controls li {
    padding-bottom: 5px;
}

#controls li:hover {
    text-decoration: underline;
    cursor: pointer;
}

#container #log{
    overflow-wrap: break-word;
    position: absolute;
    top:0;
    color:white;
    opacity: 0.6;
    pointer-events: none;
}

#container .small{
    width: 3em
}

#share_dialog_pre {
    width: 500px;
    overflow-wrap: break-word;
    background: #999;
}